body {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  background-color: black;
  overflow: hidden;
}
.container {
  font-size: 11px;
  width: 100%;
  height: 50em;
  position: relative;
}
.sun {
  width: 10em;
  height: 10em;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  top: 20em;
  left: 30rem;
  box-shadow: 0 0 3em green;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: red;
}
.earth,
.moon,
.mars,
.mercury,
.venus,
.jupiter {
  position: absolute;
  border-style: solid;
  border-color: white transparent transparent transparent;
  border-width: 0.1rem;
  border-radius: 50%;
}
.mercury {
  top: -2em;
  left: -2em;
  bottom: 2em;
  color: red;
  width: 14em;
  height: 14em;
  animation: orbit 1.3s linear infinite;
}
.venus {
  top: -4em;
  left: -6em;
  right: -4rem;
  bottom: -6em;
  color: aqua;
  width: 21em;
  height: 20em;
  animation: orbit 8.5s linear infinite;
}
.earth {
  top: -9em;
  left: -10em;
  color: #2b6023;
  width: 28em;
  height: 29em;
  animation: orbit 24.5s linear infinite;
}
.moon {
  top: -0.2em;
  left: 4em;
  width: 5em;
  height: 4em;
  color: #bd8480;

  animation: orbit 1.3s linear infinite;
}

.mars {
  bottom: -15em;
  right: -15em;
  border-radius: 90%;
  width: 38em;
  height: 40em;
  color: #7fff00;
  animation: orbit1 44.5s linear infinite;
}
.jupiter {
  top: -20em;
  left: -20em;
  border-radius: 90%;
  width: 48em;
  height: 50em;
  color: white;
  animation: orbit 360.5s linear infinite;
}
.earth::before,
.moon::before,
.mars::before,
.mercury::before,
.venus::before,
.jupiter::before {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.mercury::before {
  top: 0.8em;
  left: 2.5em;
  width: 1.2em;
  height: 1.2em;
  background-color: #708090;
}
.venus::before {
  top: 0.8em;
  left: 4em;
  width: 1.4em;
  height: 1.4em;

  background-color: #dcf3e5;
}
.earth::before {
  top: 1em;
  left: 5.5em;
  width: 2em;
  height: 2em;
  text-align: center;

  background-color: #005a8d;
}
.moon::before {
  top: -0.2em;
  left: 1em;
  width: 0.8em;
  height: 0.8em;
  background-color: #9fa09c;
}
.mars::before {
  top: 1.5em;
  left: 8.5em;
  width: 1.8em;
  height: 1.8em;
  text-align: center;

  background-color: #ffa572;
}
.jupiter::before {
  top: 0.5em;
  left: 10.5em;
  width: 3.8em;
  height: 3.8em;
  text-align: center;

  background-color: #bcafb2;
}

@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}
@keyframes orbit1 {
  to {
    transform: rotate(-360deg);
  }
}

@media (max-width: 768px) {
  .container {
    font-size: 6px;
    width: 30%;
    height: 30em;
    margin-left: -20rem;

    position: relative;
  }
}
